@import "../../common/styles/mixins";

.tag {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: $mainColor;
}
