@import "variables";

@mixin card () {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: sans-serif;
  color: $mainColor;
  background-color: $fourthColor;
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  &:hover {
    box-shadow: 2px 2px 16px rgba(187, 225, 250, 0.2);
  }
}
