@import "../../common/styles/variables";
@import "../../common/styles/mixins";

.taskCard {
  @include card();
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  .taskTags {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
  }

  .taskSettings {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .modalContainer {
    display: flex;
    align-items: center;
    flex-direction: column;


    .buttonContainer {
      margin-top: 40px;

      .btn {
        font-size: 24px;
        vertical-align: middle;
        transition: color .25s;
        border-radius: 5px;
        padding: 5px 10px;
        width: 60px;

        &.yes {
          margin-right: 50px;
          background-color: $thirdColor;
          color: $fourthColor;

          &:hover {
            background-color: $secondaryColor;
          }
        }

        &.no {
          background-color: #FF5959;
          color: $fourthColor;

          &:hover {
            background-color: #FF5151;
          }
        }
      }
    }
  }
}


